In [46]:
from scipy.stats import  chi2_contingency
import pandas as pd

In [37]:
data = pd.read_csv("Costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [38]:
Phi_counts = data['Phillippines'].value_counts()
Phi_counts

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [39]:
Ind_counts = data['Indonesia'].value_counts()
Ind_counts

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [40]:
Mal_counts = data['Malta'].value_counts()
Mal_counts

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [41]:
Ind_counts = data['India'].value_counts()
Ind_counts

Error Free    280
Defective      20
Name: India, dtype: int64

In [42]:
data = [[271,267,269,280],
        [29,33,31,20]]
data

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [43]:
pd.DataFrame(data,
            index = ['Defective','Error Free'],
            columns = ['Phillippines','Indonesia','Malta','India'])

            Phillippines  Indonesia  Malta  India
Defective            271        267    269    280
Error Free            29         33     31     20

In [44]:
df = pd.DataFrame(data = [['Defective',271,267,269,280],
                       ['Error Free',29,33,31,20]],
                  columns = ['','Phillippines','Indonesia','Malta','India'])

df

               Phillippines  Indonesia  Malta  India
0   Defective           271        267    269    280
1  Error Free            29         33     31     20

In [47]:
chi2_contingency(data) #test statistic, p-value, dof, expected freq

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [48]:
test_statistic,p_value = 3.858960685820355,0.2771020991233135
test_statistic,p_value

(3.858960685820355, 0.2771020991233135)

In [49]:
alpha = 0.05

In [50]:
if p_value < alpha:
    print("Defective % varies by centre")
else :
    print("Defective % do not varies by centre")

Defective % do not varies by centre