In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv("LabTAT.csv")
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [3]:
data.columns

Index(['Laboratory 1', 'Laboratory 2', 'Laboratory 3', 'Laboratory 4'], dtype='object')

In [10]:
lab1 = data['Laboratory 1']
lab1

0      185.35
1      170.49
2      192.77
3      177.33
4      193.41
        ...
115    178.49
116    176.08
117    202.48
118    182.40
119    182.09
Name: Laboratory 1, Length: 120, dtype: float64

In [11]:
lab2 = data['Laboratory 2']
lab2

0      165.53
1      185.91
2      194.92
3      183.00
4      169.57
        ...
115    170.66
116    183.98
117    174.54
118    197.18
119    215.17
Name: Laboratory 2, Length: 120, dtype: float64

In [12]:
lab3 = data['Laboratory 3']
lab3

0      176.70
1      198.45
2      201.23
3      199.61
4      204.63
        ...
115    193.80
116    215.25
117    203.99
118    194.52
119    221.49
Name: Laboratory 3, Length: 120, dtype: float64

In [13]:
lab4 = data['Laboratory 4']
lab4

0      166.13
1      160.79
2      185.18
3      176.42
4      152.60
        ...
115    172.68
116    177.64
117    170.27
118    150.87
119    162.21
Name: Laboratory 4, Length: 120, dtype: float64

In [15]:
test_statistic,p_value = stats.f_oneway(lab1,lab2,lab3,lab4)
test_statistic,p_value

(118.70421654401437, 2.1156708949992414e-57)

In [18]:
print(test_statistic ,p_value)

118.70421654401437 2.1156708949992414e-57

In [19]:
alpha = 0.05

In [20]:
if p_value < alpha :
    print('There is a significance difference in average TAT among the different laboratories')
else :
     print('There is a no significance difference in average TAT among the different laboratories')

There is a significance difference in average TAT among the different laboratories